<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre o aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="center-content">
<ion-card>
  <ion-card-header>
    <ion-card-title>Sobre min</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Olá, meu nome é Rafael e atualmente estou no 4º período de Análise e Desenvolvimento de Sistemas, estudando desenvolvimento mobile com Ionic.
  </ion-card-content>
</ion-card>

<ion-button routerLink="/home" expand="block">Voltar</ion-button>
</div>
</ion-content>