<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cartão Digital
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div id="container" class="center-content">
    <ion-avatar>
      <img src="assets/foto_perfil.jpeg" alt="Foto de perfil" />
    </ion-avatar>

 
    <p>Nome do aluno: Rafael do Nascimento Cunha</p>

    Código de turma: ADS0301M


    <ion-button routerLink="/sobre" expand="block">
      Ir para Sobre
    </ion-button>
  </div>
</ion-content>